<main>
<section class="user">
  <img src="<%= user.photo %>" alt="user-image" />
  <div class="details">
    <h2><%= link_to user.name, user_path(user) %></h2>
    <p>Number of posts: <%= user.posts_counter || 0 %></p>
  <div>
</section>
</main> 