<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Blog app</title>
    </head>
    <body>
    <section class="users">
    <img class="image" src="<%=@user.photo%>" alt="user_image" />
    <div class="posts">
    <h1> <%=@user.name%> </h1>
    <p>Number of posts: <%=@user.posts.count%></p>
    </div>
    </section>
    </body>
</html>