body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.posts {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  color: #000;
  padding: 2%;
}

.posts1 {
  display: flex;
  text-decoration: none;
  color: #000;
  padding: 2%;
}

.showposts {
  background-color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
  box-shadow: 2px 3px;
  display: flex;
  margin: 0 auto;
}

.showposts a {
  text-decoration: none;
  color: #000;
}

.postcomment {
  border: 2px solid #000;
  margin: 5px 5px;
  padding: 10px;
}

img {
  border: 2px solid #000;
  padding: 20px;
  margin: 10px;
}

.userdetails {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.user {
  display: flex;
}

.details {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 20px;
  width: 89%;
}

.showdetails {
  border: 2px solid #000;
  padding: 20px;
  width: 88%;
}

.bio {
  border: 2px solid #000;
  padding: 20px;
  margin: 10px;
}

.userpost {
  border: 2px solid #000;
  padding: 20px;
  margin: 10px;
  width: 90%;
}

.post {
  display: flex;
  justify-content: flex-end;
}

.showpost {
  display: flex;
  justify-content: flex-end;
}

.usercontainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
}

.postscontainer {
  color: #000;
  text-decoration: none;
}

.comment_like {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  box-sizing: border-box;
  margin-bottom: 15px;
}

.actions {
  margin-bottom: 1rem;
}

.mail {
  width: 40%;
  justify-content: center;
  padding: 10px;
}

.login {
  width: 41%;
  justify-content: center;
  padding: 10px;
}

.passwords {
  width: 80%;
  padding: 10px;
}

.image {
  width: 80px;
  height: 80px;
}

.btn {
  cursor: pointer;
  background-color: white;
  border: 1px solid #2d2d2d;
  box-shadow: 3px 5px;
  padding: 0.25rem 0.5rem;
  max-width: 100px;
  margin-left: 15px;
}

.add_comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #080707;
}

.add_comment a {
  text-decoration: none;
  color: #000;
}

.add_comment_field {
  width: 60%;
  padding: 40px;
}

#post_title {
  width: 20%;
  padding: 10px;
}
